.search-appbar{
    .search-appbar-icon{
        .search-icon{
            color: #3F3D56;
        }

    }
    .search-input{
        background-color: #e6e6e65c !important;

        input{
        color: #3F3D56 !important;
        }
    }
}