.button-icon {
  border: none;
  background: transparent;
  //margin: 0 10px;
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;

  svg{
      width: 20px !important;
      height: 20px !important;
  }
}
