.dashboard-box {
  height: 160vh;
  width: 100%;
  position: relative;

  .container-content{
    height: 100%;
    overflow: hidden;

    .student-contents{
        width: 100%;
        position: relative;
        left: 5%;
        top: 20%;
    }
  }
}
