body {
  background-color: #fff;
}
p {
  color: #b19ea0;
  font-weight: 400;
}
a {
  transition: 0.3s all ease;
  &:hover {
    text-decoration: none !important;
  }
}
.content {
  padding: 7rem 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  &-login {
    width: 30em;
    background-color: #fff;
    height: max-content;
    border-radius: 16px;
    padding: 3em;

    .login {
      &-form {
        .login {
          &-logo {
            display: flex;
            justify-content: center;

            img {
              height: 8rem;
            }
          }

          &-title {
            text-align: center;
            margin: 1rem 0 1rem 0;
            color: #101828;
            font-weight: 600;
          }

          &-content {
            font-style: italic;
            margin-top: 1rem !important;
            margin-bottom: 0 !important;
          }

          &-forgot {
            margin: 2em 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .forgot-link {
              text-decoration: none;
              color: #b19ea0;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
        .form-group {
          .last {
            .password {
              position: relative;
              display: flex;
              justify-content: end;
              align-items: center;

              span {
                position: absolute;
                padding: 1rem;
                color: #b19ea0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.form-group {
  &.first,
  &.last {
    label {
      font-size: 16px;
      font-weight: 600;
      color: #6a1039;
    }

    .form-control {
      border-color: #d9d9d9;
      border-radius: 8px;
      height: 45px;
      outline: none;
    }
  }

  &.button {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      background-color: #1f0609;
      font-weight: 600;
      color: #fff;
      border-radius: 12px;
      margin-top: 1rem;
      height: 45px;
      width: 8rem !important;
    }
  }
}
